@import "./spec.scss";
@import "./progress";
@import "./question";
@import "./silom.font.scss";

:root {
  --viewport-height: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Silom", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 500;
  @include full-height;

  width: 100%;
  background: $bgColor;
}

#__next {
  width: 100%;

  @include full-height;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  @include full-height;
  overflow: hidden;

  width: 100%;
  
  @media screen and (min-width:768px) and (min-height: 900px) { 
    max-width: 440px;
    max-height: 900px;
  }
}

.page {
  width: 100%;
  overflow: hidden;
  overflow-y: auto;
  max-height: $maxHeight;
  position: relative;
  overflow: hidden;
  @include full-height;
  overflow-y: auto;
  padding-bottom: env(safe-area-inset-bottom);

  @media screen and (min-height:$maxHeight) { 
    height: $maxHeight;
  }
}

.page-home {
  position: relative;

  
  .header {
    .btn-esc {
      .icon-esc path, .icon-esc rect {
        stroke: $subColor !important;
      }
      .icon-esc {
      }
      img {
        & path {
        }
      }
      color: $subColor;
    }
  }

  .computer-box {
    position: absolute;
    width: 100%;
    top: 14%;

    @media only screen and (min-width: 280px) {
      top: 13%;
    }
    @media only screen and (min-width: 375px) {
      top: 19.6%;
    }
    @media only screen and (min-width: 390px) {
      top: 13.5%;
    }
    @media only screen and (min-width: 376px) and (min-width: 413px) {
      top: 16.5%;
    }
    @media only screen and (min-width: 414px) {
      top: 14%;
    }
    @media only screen and (min-width: 540px) {
      top: 22%;
    }
    @media only screen and (min-width: 768px) {
      top: 14%;
    }
    
    @media only screen and (min-width: 820px) {
      top: 14%;
    }
    @media only screen and (min-width: 1024px) {
      top: 22%;
    }
    @media only screen and (min-width: 1280px) {
      top: 14.5%;
    }
    @media only screen and (min-width: 1440px) {
      top: 16.5%;
    }
    @media only screen and (min-width: 1600px) {
      top: 15%;
    }
    @media only screen and (min-width: 1800px) {
      top: 15%;
    }
    @media only screen and (min-width: 1920px) {
      top: 14.5%;
    }
    
  }

  .computer {
    top: 0;
    transition: opacity 0.2s fast-out;
    position: relative;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    img {
      width: 80%;
      margin: 0 auto;
    }
  }
  .bottom-ctrl {
    text-align: center;
    margin: 0 auto;;
    position: absolute;
    float: right;
    bottom: 30%;
    left: 0;
    right: 0;
    cursor: pointer;

    .btn-start {
      border: none;
      color: #FF733A;
      font-weight: 700;
      font-size: 1.5rem;
    }
    @media only screen and (min-width: 280px) {
      bottom: 23%;
    }
    @media only screen and (min-width: 375px) {
      bottom: 10%;
    }
    @media only screen and (min-width: 390px) {
      bottom: 23%;
    }
    @media only screen and (min-width: 414px) {
      bottom: 24%;
    }
    @media only screen and (min-width: 540px) {
      bottom: 5%;
    }
    @media only screen and (min-width: 768px) {
      bottom: 24%;
    }
    @media only screen and (min-width: 820px) {
      bottom: 26%;
    }
    @media only screen and (min-width: 1024px) {
      bottom: 6%;
    }
    @media only screen and (min-width: 1280px) {
      bottom: 25%;
    }
  }

}


.page-question {
  @include full-height;

  background: url("../assets/bg-q.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;

  .header {

    @media screen and (max-height: 680px) { 
      margin-top: 1.35rem;
    }
  }

  .ques-item {
    cursor: pointer;
  }
  .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
    color: $mainColor;
    text-align: center;
    position: relative;
    margin-bottom: 5rem;
    // min-height: 75vh;

    &.content-start {
      justify-content: center;
      margin-top: 1.5rem;
      display: initial;

      @media screen and (max-height: 680px) { 
        margin-top: .5rem;
      }
    }

    

    @media screen and (min-height: $maxHeight) { 
      min-height: 620px;
    }

    .page-number {
      font-size: 2rem;
      font-weight: 700;
    }

    .ques-text {
      margin: 1rem auto;
      font-size: 1.6rem;
      text-align: center;
    }
  }

  .desc, .slogan {
    text-align: center;
    color: $lightColor;
    line-height: 1;
    p {
      margin: .8rem 0;
    }
  }

  .logo-main {
    text-align: center;
    width: 100%;
    img {
      width: 300px;
      max-width: 80%;
    }
  }

  .ctrl-box {
    width: 100%;
    text-align: center;
    margin-top: 1rem;
    // position: absolute;
    // margin: 5rem auto;
    // bottom: 10vh;
    bottom: env(safe-area-inset-bottom);
  }

  .ctrl-fixed-box {
    width: 100%;
    position: absolute;
    bottom: 4.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    // padding: 1rem 1.5rem 3.5rem 1.5rem;
    display: flex;
    justify-content: space-between;
    
    button {
      padding: .6rem .8rem;
    }

    .btn-back {
      // position: absolute;
      bottom: -4.5rem;
      left: 1rem;
    }

    .btn-next {
      // position: absolute;
      bottom: -4.5rem;
      right: 1rem;

      &.disabled {
        opacity: .7;
        // color: $subColor;
        // border-color: $subColor;
      }
    }

  }
  @media screen and (max-height:720px) { 
    .ctrl-fixed-box {
      bottom: 2.5rem;
      .btn-back {
        bottom: -2.5rem;
        left: 1rem;
      }
  
      .btn-next {
        bottom: -2.5rem;
        right: 1rem;
      }
    }
  }


  @media screen and (max-height:680px) {
    .desc, .slogan {
      p {
        margin: .5rem 0;
      }
    }

    .content {
      margin-top: .5rem;
      padding-top: 0;
      min-height: initial;
      margin-bottom: 0;

      .tips {
        position: initial;
      }

      .page-number {
        font-size: 1.7rem;
      }

      .ques-text {
        margin: .2rem auto;
        font-size: 1.35rem;
      }

      .ques-text-sub {
        font-size: 1rem!important;
      }
    }  
    .logo-main {
      img {
        width: auto;
        height: 190px;
      }
    }
    .ctrl-box {
      margin-top: 1rem;
    }

    .ctrl-fixed-box {
      position: initial;
      bottom: 1.5rem;
      .btn-back {
        bottom: -1.5rem;
        left: 1rem;
      }
  
      .btn-next {
        bottom: -1.5rem;
        right: 1rem;
      }
    }
  }
}

.page-answer {
  // -webkit-overflow-scrolling: touch;
  // overscroll-behavior: contain; 
  background-color: rgba(24, 12, 0, 0.605);
  overflow: hidden;
  max-height: initial;
  height: initial;
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: local;
  position: relative;
  // margin-bottom: 5rem;
  

  .header {
    z-index: 9;
    text-align: center;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;


    .btn-esc {
      position: absolute;
      left: 0;
    }

    p {
      font-size: 1rem;
      font-weight: 700;
      color: $mainColor;
    }
  }

  .title {
    @include text-shine;
    z-index: 5;
    color: $mainColor;
    font-weight: bold;
    text-align: center;
    margin-top: .5rem;
    h1 {
      font-size: 3.1rem;
      margin: auto;

      @media screen and (max-height:680px) {
        font-size: 2.7rem;
        
      }
    }
  }

  .computer-box {
    position: absolute;
    width: 100%;
    top: 115px
  }
  .computer {
    z-index: 2;
    top: 0;
    transition: opacity 0.2s fast-out;
    position: relative;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    img {
      width: 80%;
      margin: 0 auto;
    }
  }

  .desc {
    position: relative;
    z-index: 5;
    margin-top: 79%;
    width: 100%;
    text-align: center;
    color: $mainColor;
    margin-bottom: 1rem;
    height: 100%;

    @media screen and (max-width:488px) {
      margin-top: 82%;
    }

    @media screen and (min-width:489px) {
      margin-top: 86%;
    }


    @media screen and (min-width:589px) {
      margin-top: 89%;
    }


    .desc-img-box {
      position: relative;
      img {
        width: 86%;
      }

      .icon-down-item {
        position: absolute;
        bottom: .5rem;
        img {
          width: 1.5rem;
        }

        &.left {
          left: .5rem;
        }
        &.right {
          right: .5rem;
        }
      }
    }

    .detail {
      h3 {
        @include text-shine;
      }
      h3, p {
        margin: .2rem 0;
      }
      margin: 0 auto;

      p {
        text-align: center;
        padding: .3rem 2rem;
        font-size: .9rem;
      }
    }

    .detail-end {
      margin: 1rem auto;
      p {
        margin: .5rem;
      }
    }
  }

  .popup-share {
    -webkit-overflow-scrolling: touch;
    // position: fixed;
    overflow: auto;
    background-color: rgba(24, 12, 0, 0.9);
    // @include full-height;
    // height: 100%;
    width: 100vw;
    z-index: 99;
    top: 0;
    padding: 1rem;
    position: absolute;
    height: 100%;
    width: 100%;

    @media screen and (max-height:680px) {
      
    }


    @media screen and (min-width: 768px) {
      width: $maxWidth;
    }
    

    .tip {
      text-align: center;
      color: $mainColor;
      margin-top: 1rem;
      margin-bottom: .5rem;
      @include text-shine;
    }
    .photo {
      position: relative;
      .btn-esc {
        z-index: 101;
        position: absolute;
        left: 1rem;
        top: 1rem;
        border: none;

        svg {
          stroke: $mainColor !important;
          path {
            stroke: $mainColor !important;
          }
        }
      }
      p {

      }
    }

    .controls {
      text-align: center;
      svg {
        width: 2.5rem;
        height: 2.5rem;
        margin: 0 .5rem;
        cursor: pointer;
        vertical-align: middle;
        path {
          stroke: $mainColor;
        }
      }
    }
  }
}

// components

.header {
  z-index: 9;
  width: 100%;
  margin-top: 2.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .btn-esc {
    @include btn-shadow;
    @include font-silom;
    color: $mainColor;
    border: none;
    margin-left: 1rem;

    svg {
      margin-right: .5rem;
    }
    img {
      margin-right: .5rem;
      width: 1.5rem;
    }

    span {
      font-size: 1.3rem;
      font-weight: 700;
    }
  }

  .logo {
    margin-right: 2rem;
    img {
      width: 110px;
    }
  }
}

.page-leave {
  @include full-height;
  background: url("../assets/bg-leave.png") no-repeat;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: local;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  // padding: 3rem 1rem;

  .sub-title {
    color: $subColor;
    font-size: 1.5rem;
    font-weight: 400;
  }

  .title {
    color: $mainColor;
    @include text-shine;
    margin-top: 10%;
    text-align: center;
    // padding: 2rem;
    h1 {
      font-size: 2.5rem;
    }
  }

  .bottom {
    margin-bottom: 10%;
  }

  .control {

    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $subColor;
    font-size: 1.5rem;
    svg {
      margin-top: 5px;
      margin-right: 1rem;
    }

    & > * {
      vertical-align: middle;
      display: inline-block;
    }
  }

  .logos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    img {
      width: 110px;
      vertical-align: middle;
    }

    svg {
      @include svg-shine;
      vertical-align: middle;
      margin: 0 .3rem;
      path {
        stroke: $mainColor;

      }
      width: 30px;
      height: 30px;
    }
  }
}

.text-light {
  @include text-light;
}

.box-light {
  @include box-light;
}

.footer {
  padding: 2rem 1rem;
  background-color: $bgColor;


  .ctrl-box {
    text-align: center;
  }

  button {
    font-size: 1.3rem;
  }

  .btn-refresh {
    svg {
      margin-top: -3px;
      margin-left: -2px;
    }
  }
}

.logo-main {
  opacity: .6;
}

.btn-niconite {
  color: $lightColor;
  font-size: 1.5rem;

  @media screen and (max-height: 680px) {
    font-size: 1.3rem;
    
  }
}

.popup {
  z-index: 99;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background: rgba(24, 12, 0, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .window {
    border: 3px solid $mainColor;
    background-color: rgba(255, 152, 57, .5);
    padding: .6rem 2rem;
    border-radius: 15px;

    .logo {
      width: 80px;
      margin: 0 auto;
    }
    .hint {
      margin: 1.5rem auto;
      color: $mainColor;
      text-align: center;
    }

    .btns {
      width: 100%;
      display: flex;
      button {
        flex: 1 1 0;
        min-width: 92px;
      }
      .btn-cancel {
        background-color: #FF9839;
      }
    }
  }
}

.btn {
  cursor: pointer;
}

pre {
  width: 100%;
  word-wrap: break-word;
}


button {
  @include font-silom;
  background: transparent;
  border: none;
  cursor: pointer;
  vertical-align: middle;
  border: 3px solid $mainColor;
  background: transparent;
  border-radius: 15px;
  padding: .3rem .7rem;
  color: $mainColor;
  
  

  &:not(:last-of-type) {
    margin-right: 1rem;
  }

  & > * {
    vertical-align: middle;
  }

  &.no-border {
    border: none;
  }
}

p {
  margin: 0;
}

img {
  max-width: 100%;
}

.btn-result {
  background: #A46428;
}


.typewriter-old {
  --typewriter-duration: 2.5s;
  --line: 0;
  width: 0;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid transparent; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  // letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing var(--typewriter-duration) steps(30, end) 1s 1 normal both,
    blink-caret .5s steps(30, end) 8;
    // link-caret-hide .5s steps(30, end) var(--typewriter-duration) infinite;
  animation-delay: calc((var(--line) * var(--typewriter-duration)));
}

/* The typing effect */
@keyframes typing {
  from { width: 0; }
  to { width: auto; }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}


@keyframes blink-caret-hide {
  from, to { border-color: transparent!important; }
}

.type {
  --n: 53;
  color:#0000;
  background:
    linear-gradient(-90deg,#00DFFC 5px,#0000 0) 10px 0,
    linear-gradient(#00DFFC 0 0) 0 0;
  background-size:calc(var(--n)*1ch) 200%;
  -webkit-background-clip:padding-box,text;
  background-clip:padding-box,text;
  background-repeat:no-repeat;
  animation: 
   b .7s infinite steps(1),   
   t calc(var(--n)*.3s) steps(var(--n)) forwards;
}

@keyframes t{
  from {background-size:0 200%}
}
@keyframes b{
  50% {background-position:0 -100%,0 0}
}

.hidden {
  display: none;
}