$maxWidth: 440px;
$maxHeight: 900px;

$mainColor: #FFD978;
$lightColor: #FFBE5C;
$bgColor: #180C00;
$subColor: #FF733A;



@mixin text-shine {
  text-shadow: rgba(255, 217, 120, .6) 1px 1px 10px;
}

@mixin text-light {
  text-shadow: rgba(255,208,20,0.9) 3px 3px 16px;
}

@mixin btn-shadow {
  // text-shadow: rgb(37 37 37 / 50%) 3px 3px 6px;
  filter: drop-shadow(rgba(37, 37, 37, 0.8) 3px 3px 6px);
  // box-shadow: rgb(37 37 37 / 50%) 3px 3px 6px;
}


@mixin box-light {
  box-shadow: 0 0 10px rgb(254 240 1 / 63%) inset, 0 0 6px rgb(218 237 63 / 71%), 0 0 15px rgb(255 157 8 / 68%);
}

@mixin box-light-large {
  box-shadow: 0 0 10px 2px rgb(254 240 1 / 63%) inset, 0 0 6px 2px rgb(218 237 63 / 71%), 0 0 15px 2px rgb(255 157 8 / 68%);
}
