
.layout {
  background: url("../../assets/bg-s.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: local;
  //  830px*0.5 1800px*0.5;
  
  min-height: 100vh;
  color: white;

  overflow: hidden;
  // display: flex;
  // flex-direction: column;
  margin: 0 auto;
  box-shadow: 0px 0px 20px 1px rgb(47 47 47 / 70%);
  // min-height: 100vh;

  // overflow-y: auto;

  // position: relative;
}

@media only screen and (min-width: 768px) {
  .layout {
    border-radius: 5px;
    max-width: 540px;
    height: 920px;
    min-height: initial;
  }
}