
.layout {
  background: url("../../assets/bg-s.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  
  min-height: 100vh;
  color: white;

  overflow: hidden;
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .layout {
    box-shadow: 0px 0px 20px 1px rgb(47 47 47 / 70%);
    border-radius: 5px;
    max-width: 540px;
    height: 968px;
    min-height: initial;
    margin: 0 auto;
  }
}